*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink: #ac4f72;
    --purple: #6f3240;
    --lightpink: #D3C4F2;
    --cream: #edd4d4; 

}

body{
    height: 100vh;
    background-color: var(--cream);
    font-family: sans-serif;
}


header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(21, 20, 20);
    text-decoration: underline;
    
}

.carrousel-shadow{
    box-shadow: -2px 14px 19px -8px rgba(0,0,0,0.75);

}


#slider1{
    width: 100%;
    height: 450px;
    background-image: url(assets/foto1.jpg);
    background-size: cover;
    background-position: 10%;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(172, 79, 114, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#caract{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 2em;
    border: 1px solid blue;
}

.infoBox{
    width: 250px;
    height: 70%;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
}

footer{
    width: 100%;
    height: 200px;
    background-color: var(--pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer a{
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 400px) {
    #caract{
        height: 40%;
    }
}

@media screen and (max-width: 590px) {
    #caract{
        height: 60%;
    }
}