@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root{
    --pink: #ac4f72;
    --purple: #804654;
    --lightpink: #F7D2DC;
    --cream: #F7EBEE; 

}

body{
    height: 100vh;
    background-color: var(--lightpink);
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}


header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(21, 20, 20);
    text-decoration: underline;
    
}

.carrousel-shadow{
    box-shadow: -2px 14px 19px -8px rgba(0,0,0,0.75);

}


#slider1{
    width: 100%;
    height: 450px;
    background-image: url(assets/foto1.jpg);
    background-size: cover;
    background-position: 10%;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(172, 79, 114, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#caract{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 2em;
    border: 1px solid blue;
}

.infoBox{
    width: 270px;
    height: 90%;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
}


#info{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

#info div{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#buy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 1em;
    margin-bottom: 2em;
}

#buy-btn{
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    background-color: var(--pink);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10em;
}

footer{
    width: 100%;
    height: 150px;
    background-color: var(--purple);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

footer a{
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 400px) {
    #caract{
        height: 40%;
    }
}

@media screen and (max-width: 590px) {
    #caract{
        height: 60%;
    }
}

@media screen and (max-width: 768px) {
    #caract{
        height: 80%;
    }
}

@media screen and (max-width: 1269px) {
    #caract{
        height: 100%;
    }
}